extends layout/page
block content
  div.container.med.fly-fade-in

    h1 Paragraphs

    p
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
    p.half
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
    p.half
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
      |lorem ipsum dominet etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 

  form.container.med

    h1 Test Form Inputs

    fieldset

      legend Legend Text

      div.field-wrapper.half
        label Text Type
        input(type="text")

      div.field-wrapper.half
        label Date Type
        input(type="date")

      div.field-wrapper.half
        label Password Type
        input(type="password")

      h4 Checkboxes 
      div.sixth
        label Foo
        input(type='checkbox')

      div.sixth
        label Foo
        input(type='checkbox')

      div.sixth
        label Foo
        input(type='checkbox')

      div.sixth
        label Foo
        input(type='checkbox')

      div.sixth
        label Foo
        input(type='checkbox')

      div.sixth
        label Foo
        input(type='checkbox')

      h4 Radios 

      div.sixth
        label Foo
        input(name="test" type='radio')

      div.sixth
        label Foo
        input(name="test" type='radio')

      div.sixth
        label Foo
        input(name="test" type='radio')

      div.sixth
        label Foo
        input(name="test" type='radio')

      div.sixth
        label Foo
        input(name="test" type='radio')

      div.sixth
        label Foo
        input(name="test" type='radio')

        
      div.field-wrapper.half
        label Select 
        select
          option Select One
          option Foo 
          option Bar
          option Baz

      div.field-wrapper.half
        label Multi-Select 
        select(multiple)
          option Select One
          option Foo 
          option Bar
          option Baz

      div.field-wrapper
        label Textarea 
        textarea

    
  div.container.med

    h1 Buttons

    div.quarter
      button Standard
    div.quarter
      button.warning Warning 
    div.quarter
      button.error Error 
    div.quarter
      button.info Info 
    div.quarter
      button.text Text

    h1 Paragraph Styles

    h3 Form Prompt

    p.form-prompt
      |lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet 
      |lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet 
      |lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet 

    h3 Error

    p.error
      |lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet 
      |lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet 
      |lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet 

    h3 Info

    p.info
      |lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet 
      |lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet 
      |lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet lorem ipsum dominet 



  div.container.large

    h1 Image Wrappers

    div.wrapper.third
      img(src="https://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2019/03/19/931/524/694940094001_6015706466001_6015703853001-vs.jpg?ve=1&tl=1")

    div.wrapper.third
      img(src="https://vignette.wikia.nocookie.net/animalplanetsthemostextreme/images/9/98/Alligator.jpg/revision/latest?cb=20180619222638")

    div.wrapper.third
      img(src="https://www.insidescience.org/sites/default/files/sites/default/styles/files/380x220-news/public/2018/Alligator_topNteaser.jpg")

